*{
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/neue-machina-regular.otf');
}

body{
    color: #000000;
    box-sizing: border-box;
    background-color: white;
}