/*PÁGINA PRINCIPAL*/
/* MENU */
.menu{
    background-image: url('/public/assets/img/direito.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.logo h1{
    font-size: 2rem;
    line-height: 2rem;
    margin: auto 0;
    text-transform: uppercase;
}

.logo h2{
    font-size: 1rem;
    line-height: .5rem;
}

li:hover{
    text-decoration: underline;
}

.navegacao .lista a{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    text-decoration: none;
    padding: 5px;
}